*.pyc
/utility
/user_data/default_paths.txt
/user_data/comments.txt
/user_data/fav.txt
/user_data/deep_secrets.txt
/user_data/session.txt
/user_data/session_old.txt
/user_data/settings.json
/user_data/history.log
/user_data/tags/*.*
/user_data/boards/*.*
register_image_viewer.reg
default_register_image_viewer.reg
thumbnails_row_debug/python/imgs/*
user_data/watch_tower.data
user_data/watch_tower.data.txt
user_data/bookmarks_board.cbor2.board
